<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiary</title>
</head>
<body>
    <ul>
        <form method="get">
            {{filter.form}}
            <input type="submit">
        </form>
        {%for b in filter.qs%}
        <li><a href="{% url 'beast-by-slug' b.slug%}">{{b.name}}</a></li>
        {%endfor%}
    </ul>
</body>
</html>