{% extends "base.html" %}

{% block content %}
<div class="container align-items-center">
    <form method="get" class="form-horizontal">
        <div class="form-group">
            {{filter.form}}
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
    <div class="card-deck">
        {%for b in filter.qs%}
        <div class="card bg-gradient" style="width: 15rem;">
            <div class="inner">
                <img src="{{b.image.url}}" class="card-img-top">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{b.name}}</h5>
                <p class="card-text text-justify">{{b.tactics}}</p>
            </div>
            <a href="{% url 'beast-by-slug' b.slug%}" class="btn btn-primary">{{b.name}}</a>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}
