{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{beast.name}}</title>
</head>
<body>
    {% block content%}
    {% include 'bestiary/includes/navigation.html' %}
    <div class="container">

        <h1 class="text-center">{{beast.name}}</h1>
        <h3>{{beast.nickname}}</h3>
        <img src="{{beast.image.url}}" width="250" height="250">
        <p>
            {{beast.tactics.description}}
        </p>
        {% if isfav %}
            <div>My favourite</div>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>