.card-deck{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}
#filter-form ul{
    list-style-type: none;
}